# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*

# Database
dev.db
dev.db-journal
*.db
*.db-journal

# Wrangler
wrangler.toml
.wrangler
.dev.vars

history.md

package-lock.json
